/img/MH2-eps-converted-to.pdf
/img/MSFR-eps-converted-to.pdf
/img/scalrelns-eps-converted-to.pdf
/img/uni_logo-eps-converted-to.pdf
/poster.aux
/poster.bbl
/poster.blg
/poster.fdb_latexmk
/poster.fls
/poster.log
/poster.nav
/poster.out
/poster.snm
/poster.synctex.gz
/poster.toc
